* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}


.header {
    background-color: #607D8B;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2em;
    color: #333;
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}


.hero {
    position: relative;
    text-align: center;
    color: #fff;
    height: 400px;
}

.hero-img {
    width: 100%;
    height:600px;
    object-fit: cover;
    object-position:center;
    opacity: 0.8;
}

.hero-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #ffcc00;
    text-shadow: 2px 2px #333;
}
.grey-blue{
    color: #607D8B;
}
.white-underside{
    color: #F5F5F5;
}
.slate-gray{
    color: #464e55;
}



.facts {
    padding: 260px;
    background-color: #fff;
    text-align: center;
}

.facts h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #464e55;
}

.fact-card {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 24px;
    background-color: #464e55;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.fact-card-habitat {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 28px;
    background-color: #ffcc00;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fact-card h4 {
    font-size: 1.2em;
    color: #fff;
}

.fact-card p {
    font-size: 1em;
    color: #fff;
    
}

.Summary{
    float: left;
    width: 630px;
    min-height: 200px;
    margin: 20px;
    padding: 2%;
    padding-right: 1%;
    margin-top: 34%;
    margin-bottom: 10%;
    margin-left: -15%;
    text-align: left;
    background-color: #464e55;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    
}
.Summary h1{
    text-align: center;
    padding: 3%;
}

.majestic{
    padding-top: 5%;
    margin-left: 9%;   
}


.footer {
    float: left;
    background-color: #607D8B;
    padding: 10px;
    text-align: center;
    color: #333;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.cheetah-map{
    width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        margin-bottom: 10%;
}